html, body {
    padding: 0px;
    margin: 0px;
}

main {
    font-family: 'Merriweather', serif;
    padding: 0em 1em 0em 1em;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;
}

.global-header {
    position: relative;
    background-color: #226;
}

.header-text {
    padding: 0.5em 1em 0.5em 1em;
    font-family: 'Titillium Web', sans-serif;
    max-width: 750px;
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    color: #ddf;
}

.header-text h1 {
}

.header-text h1 a {
    color: #ddf;
    text-decoration: none;
}

.global-footer {
    margin-left: auto;
    margin-right: auto;
    padding: 0em 1em 0em 1em;
    max-width: 750px;
    height: 100px;
    color: rgba(0, 0, 0, 0.4);
}

.global-footer .sns-links {
    text-align: right;
}

.global-footer .sns-links a {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: rgba(0, 0, 0, 0.4);
    vertical-align: top;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.global-footer .sns-links a i {
    vertical-align: middle;
}

.global-footer .sns-links a:hover {
    color: rgba(0, 0, 0, 0.7);
}

/* Article */
.article-list {
    line-height: 150%;
    padding: 1em 0em 1em 0em
}

.article-list article {
    padding: 0.1em 0em 0.1em 0em;
}

.article-list a {
    text-decoration: none;
    color: #336
}

.post-meta {
    margin: 5px 0;
    position: relative;
}

.post-title {

}

.post-date {
    display: inline-block;
    color: #888;
    font-size: 14pt;
    font-family: 'Titillium Web', sans-serif;
}

.post-tags {
    text-align: right;
}

.post-tag {
    font-size: 14pt;
}

.post-tag a {
    padding: 0 10px;
    color: rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.post-tag a:hover {
    background-color: rgba(0, 0, 0, 1.0);
    color: rgba(255, 255, 255, 1.0);
}

.not-found h1 {
    color: rgba(0, 0, 0, 0.2);
    font-weight: 200;
    font-size: 80px;
}

.not-found {
    text-align: center;
}

pre code {
    overflow: auto;
    white-space: pre;
    word-wrap: normal;
}

blockquote {
     font-style:italic;
}

h1.text-primary {
    padding-top: 1em;
    font-size: x-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: large;
}

article img {
    max-width: 100%;
    height: auto;
}

article {
    font-size: 16pt;
}

article p {
    line-height: 180%;
}

article section a, article section a:link, article section a:visited {
    color: #226;
    text-decoration: none;
}

code {
    color: #336;
    background-color: #eee;
}