{{ partial "header.html" . }}
{{ $baseurl := .Site.BaseURL }}

{{ if in .Params.tags "fragments" }}
<article class='category-fragments'>
  {{ else }}
<article>
  {{ end }}
  <header>
    <h1 class="text-primary">{{ .Title }}</h1>
    <div class="post-meta clearfix">
        {{ range .Params.tags }}
        <div class="post-tags">
          <span class="post-tag small"><a href="{{ $baseurl }}tags/{{ . | urlize }}/">#{{ . }}</a></span>
        </div>
        {{ end }}
    </div>
  </header>
  <section>
    {{ .Content }}
  </section>
</article>

{{ partial "footer.html" . }}
